body{
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: fit-content;
  padding: 0;
  text-align: center;
}