.lista-usuarios{
    display:grid;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

/* Estilo general para la tabla */
.table-container {
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
}

.tabla-users{
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

/* Estilo para la cabecera */
thead th {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

/* Estilo para las filas de la tabla */
tbody tr:nth-child(odd) {
    background-color: #2e2e2e;
}

tbody tr:nth-child(even) {
    background-color: #444444;
}

/* Estilo para las celdas */
td, th {
    padding: 10px;
    border: 1px solid #555555;
}

/* Estilo para los enlaces */
td a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    color: #ff6347;
}

@media (max-width: 768px) {
    /* Contenedor que permite desplazamiento horizontal de la tabla */
    .tabla-users {
        overflow-x: auto; /* Permite el scroll horizontal solo para la tabla */
        width: 95%; /* Asegura que el contenedor ocupe el ancho de la pantalla */
        margin: 10px;
    }

}