
.header{
    max-width: justify-content;
    background-color:#1b2447;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img{
    margin-top: 0;
    margin-left: 10px;
    max-height: 55px;
    width: auto;
    
  }
  a{
    text-decoration: none;
  }
  .navbar{
    position: relative;
    
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: fit-content;
    
    
  }
  .navbar a{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    
  }
  
  .navbar ul{
    display: flex;
    list-style: none;
    margin: 15px;
  }
  .navbar ul li{
  
    padding: 0.5em;
    margin-left: 1.5em;
    border-radius: 1em;
  }
  
  .navbar ul li:hover{
    background-color: #35ace4;
    transition: .4s;
  }
  
  .checkbtn{
    font-size: 30px;
    color: #fff;
    display: none;
    cursor: pointer;
    float: right;
    line-height: 20px;
    margin: 20px;
  }
  
  #check{
    display: none;
  }
  
  
  
  @media (max-width: 800px){
    .checkbtn{
      display:block;
      position:sticky;
      z-index: 1;
    }
    .check{
      z-index: 1;
    }
  
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #2b2d42;
      top: -15px;
      left: 100%;
      text-align: center;
      transition: all .5s;
      display: flex;
      flex-direction: column;
      z-index: 0;
    }
  
    nav ul li{
      font-size: 20px;
      margin-top: 4em;
      }
    
   
    #check:checked ~ ul{
      left: -15px;
      top: -15px;
    }
  
  }